<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Sign Up</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="https://placeimg.com/128/128/nature">
            </div>
            <div class="col-md-8">

              <input type="text" class="form-control mb-2" placeholder="Enter your email" (input)="email = $event.target.value" value={{email}}>
              <input type="password" class="form-control mb-2" placeholder="Enter your password" (input)="password = $event.target.value" value={{password}}>

              <button  class="btn btn-lg btn-primary btn-block mb-1"  (click)="singUp()">Sing Up</button> 

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>